.card2-container {
  width: 80%;
  margin-bottom: 120px;

  display: flex;
  justify-content: center;
}

.image2 {
  height: 350px;
  width: 680px;
  border-radius: 5px;
}

.image2-container {
  height: 350px;
  width: 680px;
  animation: ease-in-out;
  transition: 0.5s;
  /* border: 1px solid orangered; */
  border-radius: 5px;
  box-shadow: 5px 5px 1px 5px #121212;
}

.image2-container:hover,
.image2-container:focus {
  z-index: 2;
  transform: scale(1.05);
}

.image2-container::before {
  content: '';
  position: absolute;
  left: -7.5px;
  bottom: -7.5px;
  height: 365px;
  width: 695px;
  border-radius: 5px;
  z-index: -1;
  background-color: var(--blue);
  transition: transform 500ms ease-in-out;

  transform: scaleX(0);
  transform-origin: left;

}

.image2-container:hover::before,
.image2-container:focus::before {
  background-color: var(--blue);
  transform: scaleX(1);
  transform-origin: right;
}

.card2-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2-title {
  margin: 0;
  padding: 0;
  color: var(--blue);
  font-size: 2rem;
  width: 675px;
  text-align: center;
}

.github2-icon {
  height: 40px;
  width: 40px;
  margin: 0 10px;
  margin-bottom: -10px;
  /* fill: white; */
  fill: var(--blue);

  animation: ease-in-out;
  transition: 0.5s;
}

.github2-icon:hover {
  fill: var(--white);
  transform: scale(1.25);
}

.card2-description {
  height: 125px;
  width: 525px;
  margin-right: -25px;
  padding: 0px 30px;
  border-radius: 10px;
  /* background-color: aliceblue; */
  background-color: var(--darkblue);
  color: var(--white);
  box-shadow: -5px 5px 1px 5px #121212;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-right {
  animation: slideRight 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  0% { transform: skewX(10deg) translateX(-750px); opacity: 0; }
  60% { transform: translateX(0px); }
  62% { transform: skewX(0deg) translateX(30px); }
  80% { transform: skew(0deg) translate(0); opacity: 1;}
  100% { transform: skew(0deg); }
}

.card2-skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  color: var(--white);
}

.card2-skills li {
  margin: 0 8px;
}

@media only screen and (max-width: 1500px) {
  .card2-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .card2-body {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 430px) {
  .image2 {
    height: 200px;
    width: 325px;
    /* margin-top: 60px; */
  }

  .image2-container {
    height: 200px;
    width: 325px;
    margin-top: 60px;
    box-shadow: 1px 1px 1px 5px #121212;
    /* margin-bottom: -60px; */
  }

  .card2-title {
    /* margin-top: -325px; */
    margin-top: -285px;
    margin-bottom: 225px;
    max-width: 95vw;
    font-size: 1rem;
  }

  .card2-description {
    height: 115px;
    width: 240px;
    margin-right: 0px;
    font-size: 0.75rem;
    box-shadow: 1px 1px 1px 5px #121212;
  }

  .card2-skills {
    font-size: 0.65rem;
  }
}